body{
	margin: 0;
	font-family: Arial;
	font-size: 12px;
	color: white;
}

.topo{
	height: 30px;
	background-color: #333;
}

.topoint{
	width: 100%;
	max-width: 1040px;
	height: 30px;
	/*background-color: green;*/
	margin: auto;
}

.topoleft{
	width: 50%;
	height: 30px;
	float: left;
	/*background-color: red;*/
}

.toporight{
	width: 50%;
	height: 38px;
	float: right;
	/*background-color: blue; */

	margin-top: 2px;
}

.topoleft ul{
	margin:0;
	padding: 0;
	list-style: none;
}

.topoleft li{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 8px;

}

.topoleft li a{
	color: white;
	text-decoration: none;
}

.topoleft li .ativo{
	color: #1979DC;
}

.topobusca{
	width: 110px;
	height: 26px;
	outline: 0;
}

.toporight a{
	float: right;	
}

.toporight input{
	float: right;
}

.toporight img{
	margin-left: 4px;
	margin-right: 4px;
}

.topo2{
	color: #000;
	height: 95px;
}

.topo2int{
	width: 100%;
	max-width: 1040px;
	height: 95px;
	/*background-color: green;*/
	margin: auto;
}

.logo{
	width: 230px;
	height: 90px;
	float: left;
	margin-top: 5px;
}

.topo2 .banner{
	width: 650px;
	height: 75px;
	float: right;
	background-color: red;
}

.topo2 .logo img{
	width: 100%;
	height: 100%;
}

.menu{
	height: 40px;
	background-color: #FF0000;
}

.menuinterior{
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin: auto;
}

.menuinterior ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.menuinterior li{
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.menu li:hover .submenu{
	display: block;
}

.menu a{
	color: #FFF;
	text-decoration: none;
}

.submenu{
	width: 150px;
	background-color: #FF0000;
	position: absolute;
	display: none;
}

.submenuitem{
	height: 30px;
	line-height: 30px;
	width: 150px;
	padding-left: 10px;
}

.submenuitem:hover{
	width: 140px;
	background-color: #FF5555;
}