body{
	margin: 0;
	font-family: Arial;
	font-size: 12px;
	color: white;
}

.topo{
	height: 30px;
	background-color: #333;
}

.topoint{
	width: 100%;
	max-width: 1040px;
	height: 30px;
	/*background-color: green;*/
	margin: auto;
}

.topoleft{
	width: 50%;
	height: 30px;
	float: left;
	/*background-color: red;*/
}

.toporight{
	width: 50%;
	height: 38px;
	float: right;
	/*background-color: blue; */

	margin-top: 2px;
}

.topoleft ul{
	margin:0;
	padding: 0;
	list-style: none;
}

.topoleft li{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 8px;

}

.topoleft li a{
	color: white;
	text-decoration: none;
}

.topoleft li .ativo{
	color: #1979DC;
}

.topobusca{
	width: 110px;
	height: 26px;
	outline: 0;
}

.toporight a{
	float: right;	
}

.toporight input{
	float: right;
}

.toporight img{
	margin-left: 4px;
	margin-right: 4px;
}

.topo2{
	color: #000;
	height: 95px;
}

.topo2int{
	width: 100%;
	max-width: 1040px;
	height: 95px;
	/*background-color: green;*/
	margin: auto;
}

.logo{
	width: 230px;
	height: 90px;
	float: left;
	margin-top: 5px;
}

.topo2 .banner{
	width: 650px;
	height: 75px;
	float: right;
	background-color: red;
}


.topo2int .logo img{
	width: 100%;
	height: 100%;
}
.topo2 .logo img{
	width: 100%;
	height: 100%;
}

.menu{
	height: 40px;
	background-color: #FF0000;
}

.menuinterior{
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin: auto;
}

.menuinterior ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.menuinterior li{
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}

.menu li:hover .submenu{
	display: block;
}

.menu a{
	color: #FFF;
	text-decoration: none;
}

.submenu{
	width: 150px;
	background-color: #FF0000;
	position: absolute;
	display: none;
}

.submenuitem{
	height: 30px;
	line-height: 30px;
	width: 150px;
	padding-left: 10px;
}

.submenuitem:hover{
	width: 140px;
	background-color: #FF5555;
}

.ultimasnoticias{
	height: 40px;
}

.ultimasnoticiasinterior{
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin: auto;
}

.ultnoticiasarea{
	height: 28px;
	background-color: #FFF;
	border: 1px solid #CCC;	
	margin-top: 10px;
}

.ultnoticiastitulo{
	background-color: #FF0000;
	color: #FFF;
	height: 28px;
	display: inline-block;
	line-height: 28px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
}

.ultnoticiasnoticia{
	color: #000;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 5px;
}

.containerinterno{
	width: 100%;
	max-width: 1040px;
	margin: auto;
	background-color: #999;
}

.rightside{
	width: 275px;
	min-height: 200px;
	float: right;
	margin-left: 12px;
}

.leftside{
	float: left;
	width: 753px;
}

.widget{
	border: 1px solid #CCC;
	background-color: #FFF;
	margin-bottom: 10px;
}

.widget_titulo{
	height: 30px;
	background-color: #DDD;
	border-bottom: 1px solid #CCC;
	line-height: 30px;
	color: #000;
	padding-left: 5px;
	font-size: 14px;
}

.widget_conteudo{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.noticia_item{
	font-size: 14px;
	color: #000;
	margin: 0px 10px;
	padding: 10px 0px;
	text-align: left;
	border-bottom: 1px solid #CCC;
}

.noticia_item a{
	text-decoration: none;
	color: #000;
}

.noticia_item a:hover{
	text-decoration: underline;
}

.slideshow{
	height: 335px;
	background-color: #CCC;
	overflow: hidden;
}

.slideshowarea{
	width: 1000000px
	height: 335px;
	background-color: #DDD;
}

.slide{
	height: 335px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}