body{
    margin: 0;
}

.div{
    width: 100%;
    height: 100px;
    background-color: #ffcccc;
}

.menu{
    width: 200px;
    height: 300px;
    background-color: #0000FF;
    float: left;
}
.conteudo{
    width: 500px;
    height: 300px;
    background-color: #00FF00;
    float: right;
}

span{
    background-color: red;
}

.teste{
    background-color: #cccccc;
    color: #000000;
    width: 400px;
    height: 400px;
    border: 5px groove #FF0000;
    border-radius: 200px;
}

img{
    border: 10px solid #00FF00;
}