body{
	margin:0;
	padding:0;
}

header{
	display: flex;
	justify-content: center;
	height: 120px;
}

.container{
	display: flex;
	justify-content: space-between;
	width: 990px;
	height: 100px;
}

.logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu{
	display: flex;
	align-items: center;
}

nav ul,
nav li{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul{
	display: flex;
}

nav a{
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
	font-family: Arial;
}

nav .active,
nav a:hover{
	background-color: #39aae1;
	color: #FFF;

}

#banner{
	display: flex;
	justify-content: center;
	background-image:url("../images/img1.jpg");
	background-position: center;
	background-size: cover;
	height: 670px;
}

.column{
	flex-direction: column;
	height: 670px;
}

.banner_headline{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner_headline h1{
	color: #FFFFFF;
	font-size: 50px;
	text-shadow: 1px 1px 0px #000000;
}

.banner_options{
	height: 210px;
}