body{
	margin:0;
	padding:0;
	font-family: Arial;
}

header{
	display: flex;
	justify-content: center;
}

header .container{
	height: 100px;
}

.container{
	display: flex;
	justify-content: space-between;
	width: 990px;
}

.logo{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.menu{
	display: flex;
	align-items: center;
}

nav ul,
nav li{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul{
	display: flex;
}

nav a{
	display: block;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727272;
}

nav .active,
nav a:hover{
	background-color: #39aae1;
	color: #FFF;

}

#banner{
	display: flex;
	justify-content: center;
	background-image:url("../images/img1.jpg");
	background-position: center;
	background-size: cover;
	height: 670px;
}

.column{
	flex-direction: column;
	/*height: 670px;*/
}

.banner_headline{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner_headline h1{
	color: #FFFFFF;
	font-size: 70px;
	text-shadow: 1px 1px 0px #000000;
	margin: 0;
	padding: 0;
	max-width: 350px;
}

.banner_headline h2{
	color: #FFFFFF;
	font-size: 21px;
	text-shadow: 1px 1px 0px #000000;
	margin: 0;
	padding: 0;
	max-width: 350px;
	margin-top: 30px;
}

.banner_options{
	height: 210px;
	display: flex;
}

.banner1,
.banner2,
.banner3{
	flex: 1;
	color: #FFFFFF;
	padding: 20px;
}

.banner1{
	background-color: #39aae1;
}

.banner2{
	background-color: #0079c7;
}

.banner3{
	background-color: #2b4c99;
}

.bannertitle{
	font-size: 21px;
}

.banner_desc{
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.banner_options a{
	display: inline-block;
	border: 1px solid #FFFFFF;
	padding: 5px;
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
}

.banner3 .banner_hours{
	font-size: 12px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #65edef;
	display: flex;
	justify-content: space-between;
}

.banner3 .banner_title{
	margin-bottom: 5px;
}

#geral{
	display: flex;
	justify-content: center;
}

#geral section{
	flex: 2;
}

#geral aside{
	flex: 1;
}

.widget_title{
	margin-top: 30px;
	margin-bottom: 20px;
}

.widget_title_text{
	color: #000;
	font-size: 21px;
	font-weight: bold;
}

.widget_title_bar{
	width: 50px;
	height: 3px;
	background-color: #36a9e1;
	margin-top: 10px;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

article{
	flex: 1;
	min-width: 300px;
	margin-right: 20px;
}

article a{
	text-decoration: none;
}

article .news_data{
	display: flex;
}

article .news_posted_alt{
	background-color: #2b4c99;
	color: #FFFFFF;
	font-size: 12px;
	padding: 10px;
	margin-right: 2px;
}

article .news_comments{
	background-color: #39aae1;
	color: #FFFFFF;
	font-size: 12px;
	padding: 10px;
}
article .news_thumbnail{
	margin-top: 30px;
}

article .news_thumbnail img{
	width: 100%;
	height: auto;
}

article .news_title{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 23px;
	color: #000;
}

article .news_resume{
	font-size: 14px;
	color: #5c5c5c;
	line-height: 20px;
	margin-bottom: 30px;
}

.departaments_item{
	flex: 1;
	min-width: 120px;
	min-height: 120px;
	background-color: #000;
	margin-right: 15px;
	margin-bottom: 15px;
	justify-content: space-between;
}

.make_text,
.make_contact{
	font-size: 12px;
}

.make_text{
	margin: 0;
	padding: 0;
}

.make_contact{
	padding:0;
	margin: 0;
	margin-top: 20px;
	border-top: 1px solid #000;
}

.make_contact .contact{
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	padding-top: 10px;
}

.contact img{
	border: 1px solid #000;
	margin-right: 10px;
	width: 15px;
	height: 15px;
}

footer{
	background-color: #1e1e1e;
	display: flex;
	justify-content: center;
}

.footer_menu{
	display: flex;
}

.fm_1, .fm_2, .fm_3{
	flex:1;
	color: #FFF;
	padding: 20px;
}

.fm_1{
	background-color: #39aae1;
}
.fm_2{
	background-color: #0079c7;
}
.fm_3{
	background-color: #2b4c99;
}

.footer_area{
	display: flex;
}

.footer_areaitem{
	flex:1;
	color: #FFFFFF;
}

.flexColumn{
	flex-direction: column;
}

footer .widget_title_text{
	color: #FFF;
}

.footer_copy{
	border-top: 1px solid #2c2c2c;
	height: 40px;
	line-height: 40px;
	color: #5c5c5c;
	font-size: 12px;
	margin-top: 30px;
}

.footer_menu h1{
	font-weight: normal;
	font-size: 25px;
}

.footer_menu h2{
	font-weight: normal;
	font-size: 14px;
}

.footer_area .conteudo{
	font-size: 12px;
}

.footer_area table{
	margin-top: 30px;
	width: 100%;
}

.footer_area tr{
	height: 20px;
	line-height: 20px;
}

.footer_areaitem{
	margin-right: 30px;
}

.conteudo .flex{
	flex-direction: row;
	margin-top: 10px;
}

.conteudo .left{
	flex:1;
}

.conteudo .right{
	flex:14;
}

.conteudo .right .day{
	color: #389eca;
	font-size: 10px;
	margin-top: 5px;
}

.menuMobile{
	display: none;
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
}

.mm_line{
	height: 3px;
	background-color: #39aae1;
}

@media (min-width: 600px){

	nav ul{
		display: flex;
	}
}

@media (max-width: 600px){

	.banner_headline{
		padding: 20px;
	}

	.banner_headline h1{
		font-size: 55px;
	}

	.banner_headline h2{
		font-size: 17px;
	}

	.banner_options{
		height: auto;
		flex-direction: column;
	}

	#geral .container{
		flex-direction: column;
		padding: 20px;
	}

	.footer_menu{
		flex-direction: column;
	}

	.footer_area{
		flex-direction: column;
		padding: 20px;
	}

	.footer_copy{
		padding-left: 20px;
	}

	nav ul{
		flex-direction: column;
		display: none;
		position: absolute;
		left: 0;
		width: 100%;
		background-color: #FFF;
		text-align: center;
	}

	header{
		height: auto;
	}
	.logo{
		padding-left: 20px;
	}

	.menuMobile{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}