@keyframes exemplo{
	0%{background-color: red;top: 0;left: 0;}
	25%{background-color: yellow;top: 0;left: 200;}
	50%{background-color: blue;top: 200;left: 200;}
	75%{background-color: green;top: 200;left: 0;}
	100%{background-color: red;top: 0;left: 0;}
}


body{
	margin:0;
}

#teste{
	background-color: green;
	margin-left: 100px;
	margin-top: 100px;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
}

input{
	margin: 100px;

	border-radius: 5px;

	border: 1px solid #000000;
}

.exemplo{
	width: 500px;
	height: 200px;

	background: blue;
	background:linear-gradient(-45deg, white, blue);
	/*
	background:-moz-linear-gradient(white, blue);
	background:-o-linear-gradient(white, blue);
	background:-webkit-linear-gradient(white, blue);
	*/
}

.exemplo2{
	width: 150px;
	height: 150px;
	margin: 10px;
	background-color: green;
	position: absolute;
	animation-name: exemplo;
	animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}