body{
	margin: 0;
	background-color: #EEE;
}

p{
	padding: 10px;
}
h3{
	padding-left: 10px;
}

.site{
	width: 100%;
	max-width: 800px;
	margin: auto;
	background-color: #FFF;
}

.topo{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background-color: orange;
}

.corpo{
	width: 100%;
	height: 300px;
	margin: auto;
}

.itens ul,
.itens li{
	margin:0;
	padding: 0;
}

.itens li{
	list-style: none;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #CCC;
	padding-left: 10px;
}

.menumobile{
	display: none;
	height: 50px;
	text-align: center;
}

.itens{
	width: 25%;
	height: 300px;
	float: left;
}

.principal{
	width: 50%;
	height: 300px;
	float: left;
}

.direita{
	width: 25%;
	height: 300px;
	float: right;
	background-color: #DDD;
}

.rodape{
	clear: both;
	height: 80px;
	background-color: #CCC;
}

@media only screen and (min-width: 500px) and (max-width: 700px){
	.principal{
		width: 75%;
	}
	.direita{
		width: 75%;
		height: 100px;
	}
}

@media only screen and (max-width: 500px){
	.menumobile{
		display: block;
	}
	.itens ul{
		display: none;
	}
	.itens{
		width: 100%;
		height: 50px;
	}
	.principal{
		width: 100%;
	}
	.direita{
		width: 100%;
		height: 100px;
	}
}