body{
	margin:0;
}

footer{
	height: 100px;
	background-color: #CCCCCC;
}

nav{
	height: 50px;
	background-color: #999999;
}

.teste{
	width: 600px;
	height: 300px;
	background-color: red;
}

@media only screen and (max-width:600px){

	.teste{
		width: 200px;
	}

}